@charset "UTF-8";

/*Todas as demais midias*/

/*Typical Device Breakpoints
----------------------------
Pequenas telas: max 639px 
Celular: min 640px max 767px

Tablet: min 768px max 1023px
Desktop: min 1024px max 1279px
Grandes telas: min 1280px max 1535px
Telas gigantes: min 1536px
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main::after {
        content: 'Essa impressão foi feita através do site exemplo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black; 
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /*TABLET*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) { /*DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1280px) { /*GRANDES TELAS*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}
